#textlink{
  text-decoration: none;
  color: black;
}

.maintitle{
  font-family: 'Montserrat';
  line-height: normal;
  font-size: 3rem;
  color: black;
  text-align: center;
  font-weight: 200;
  margin-bottom: -3rem;
  margin-top: -1rem;
  padding: 3rem;

}

.mainsubtitle{
  font-family: 'Roboto';
  line-height: normal;
  font-size: 1.5rem;
  padding-top: 1rem;
  color: black;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;

}

.title{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: auto;
  margin-top: 3rem;
  width: 50%;
  height: auto;
  margin-bottom: 0;

}




.container1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;




}
.box1, .box2, .box3 , .box4 {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
  border-radius: 300px;
  border-color: silver;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;
}

.box1{
  background-image: url("https://i.imgur.com/VlmjxQ8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box2{
  background-image: url("https://i.imgur.com/YGHNRNP.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box3{
  background-image: url("https://i.imgur.com/RMX6ZzS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box4{
  background-image: url("https://i.imgur.com/xt29V6N.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


#text{
  font-family: 'Montserrat';
  line-height: normal;
  font-size: 16px;
  padding-top: 3rem;
  padding-bottom: auto;
  color: black;
}

.minicontainer1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.minibox1{
  margin-top: 4rem;
  background-color: #a6b6b5;
  width: 100px;
  height: 100px;
  border-radius: 300px;
}
.minibox2{
  font-family: 'Roboto';
  margin-top: 1rem;
}


#color2{
  background-color: #c2c7cd;
}
#color3{
  background-color: #b99986;
}#color4{
  background-color: #8ba3bf;
}#color5{
  background-color: #bfd0bd;
}#color6{
  background-color: #4d3028;
}#color7{
  background-color: #8d9451;
}#color8{
  background-color: #79bbcb;
}#color9{
  background-color: #b8a481;
}#color10{
  background-color: #899e96;
}#color11{
  background-color: #ab773e;
}#color12{
  background-color: #66411d ;
}







.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
  margin-bottom: 11rem;

}

.box5, .box6, .box7 , .box8 {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
  border-radius: 300px;
  border-color: silver;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;

}

.box5{
  background-image: url("https://i.imgur.com/9O8YOSn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box6{
  background-image: url("https://i.imgur.com/yrCZrAp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box7{
  background-image: url("https://i.imgur.com/x6nrbWr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box8{
  background-image: url("https://i.imgur.com/I547sky.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.container3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;

}

.box9, .box10, .box11 , .box12{
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
  border-radius: 300px;
  border-color: silver;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;

}

.box9{
  background-image: url("https://i.imgur.com/68kuOCs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box10{
  background-image: url("https://i.imgur.com/cl3J2i4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box11{
  background-image: url("https://i.imgur.com/3KbUfQw.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}.box12{
  background-image: url("https://i.imgur.com/nV8KJhW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.globalcontainer{
  margin-bottom: 45vh;
}


@media only screen and (max-width: 999px) {

.mainsubtitle{
  margin-bottom: -4rem;
}

  .container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-bottom: -8rem;



  }
  .box1, .box2, .box3 , .box4 {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 3rem 3rem 3rem 3rem;
    text-align: center;
    border-radius: 300px;
    border-color: silver;
    border-style: solid;
    border-width: thick;
    box-sizing: border-box;
    margin: 9rem;
  }


.container2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  margin-bottom: -8rem;



}
.box5, .box6, .box7 , .box8 {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
  border-radius: 300px;
  border-color: silver;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;
  margin: 9rem;
}


.container3{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;


}
.box9, .box10, .box11 , .box12 {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
  border-radius: 300px;
  border-color: silver;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;
  margin: 9rem;
}

.box10{
  margin-bottom: 13rem;

}
.box12{
  margin-top: 5rem;


}
}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

body{
  max-width: 100vw;
  zoom: 170%;
  overflow-x: hidden;


}

    .mainsubtitle{
      margin-bottom: -4rem;
    }

      .container1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        margin-bottom: -8rem;



      }
      .box1, .box2, .box3 , .box4 {
        background-color: white;
        width: 150px;
        height: 150px;
        margin: 3rem 3rem 3rem 3rem;
        text-align: center;
        border-radius: 300px;
        border-color: silver;
        border-style: solid;
        border-width: thick;
        box-sizing: border-box;
        margin: 9rem;
      }


    .container2{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items:center;
      margin-bottom: -8rem;



    }
    .box5, .box6, .box7 , .box8 {
      background-color: white;
      width: 150px;
      height: 150px;
      margin: 3rem 3rem 3rem 3rem;
      text-align: center;
      border-radius: 300px;
      border-color: silver;
      border-style: solid;
      border-width: thick;
      box-sizing: border-box;
      margin: 9rem;
    }


    .container3{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items:center;


    }
    .box9, .box10, .box11 , .box12 {
      background-color: white;
      width: 150px;
      height: 150px;
      margin: 3rem 3rem 3rem 3rem;
      text-align: center;
      border-radius: 300px;
      border-color: silver;
      border-style: solid;
      border-width: thick;
      box-sizing: border-box;
      margin: 9rem;
    }

    .box10{
      margin-bottom: 13rem;

    }
    .box12{
      margin-top: 5rem;
    }



}
