#textlink{
  text-decoration: none;
  color:  #262626;
}



.maintitle{
  font-family: 'Montserrat';
  line-height: normal;
  font-size: 7rem;
  color:  #262626;
  text-align: center;
  font-weight: 700;
}

.mainsubtitle{
  font-family: 'Roboto';
  line-height: normal;
  font-size: 1.5rem;
  padding-top: 1rem;
  color:  #262626;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 9rem;
  padding-right: 9rem;



}

.title{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: auto;
  margin-top: 3rem;
  margin-bottom: -5rem;
  padding: 2rem 2rem 2rem;


}

.tuscolores{
  font-family: 'Montserrat';
  line-height: normal;
  font-size: 3rem;
  padding-top: 0rem;
  color:  #262626;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: -5rem;
}

.color-palette{
  max-width: 80%;
  display: auto;

}

.subtitle{
  font-family: 'Roboto';
  line-height: normal;
  font-size: 1.5rem;
  color:  #262626;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 9rem;
  padding-right: 9rem;
}


.socials{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.box1{
  margin: 2rem;
  margin-top: 0;




}

.box2{
  margin: 2rem;
  margin-top: 0;





}

a{
  text-decoration: none;
  color:  #262626;
}


@media only screen and (max-width: 600px) {

  *{
    overflow-x:
  }

  .maintitle{
    zoom:50%;
    margin-top: 10rem;
    color:  #262626;
  }


  .title{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom: -5rem;
    padding: 2rem 2rem 2rem;
    zoom:70%;


  }

  .tuscolores{
    font-family: 'Montserrat';
    line-height: normal;
    font-size: 3rem;
    padding-top: 0rem;
    color:  #262626;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -2rem;
  }



  }
